:root {
  --neutral-900: #171717;
  --neutral-800: #262626;
  --neutral-700: #404040;
  --neutral-600: #525252;
  --neutral-500: #737373;
  --neutral-400: #a3a3a3;
  --neutral-300: #d4d4d4;
  --neutral-200: #e5e5e5;
  --orange-500: #f97316;
}
.mainSection {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainDiv {
  height: 80%;
  width: 80%;
  background-color: var(--neutral-900);
  border-radius: 6px;
  display: flex;
  justify-content: center;
}

.secondaryDiv {
  height: 100%;
  width: 60%;
}
